body{
    margin:0px;
    overflow-x: hidden;
}
.row-tx{
    background-image: url('../assets/backgrounds/h_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    
}
.centered{
    text-align: center;
    color: white;
    margin-left:25%;
    margin-top:7%;
    margin-bottom:14%;
}
.img-tx{
    margin-bottom: 200px;
   
    margin-left: 50%;
}
h1{
    text-align: center;
    margin-top: 70px;
    font-weight: 150px;
    margin-bottom: 40px;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00, 36px 24px 10px rgba(206,89,55,0.44);
}
.para1{
    text-align: center;
    margin: 2% 20% 5% 20%;
}
.row-yx{
    background-image: url('../assets/backgrounds/s_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 340px;
}
.h1-2{
    color: aliceblue;
    text-align:center;
}
.para2{
    color: white;
}
.cont-a{
    display: flex;
    flex-direction: center;
    justify-content:space-around; 
}
h3{
    text-align: center;
    margin: 50px;
}
.contain-f{
    padding: 15px;
    justify-content: space-between;
}
#contact-s{
    background-image: url('../assets/backgrounds/c_image.jpg');
    margin:20px;
}
.foot-c{
    text-align: center;
    padding-top: 3%;
}
.kati{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background: white;
    opacity: 0.55;
    font-weight: bolder;
}
.rmx{
    background: none;
    opacity: 0.4;
}
.col{
    align-content: center;
    text-align: center;
}

